.header {
  display: flex;
  align-items: center;
  justify-content: space-around;

  .logo {
    text-decoration: none;
    color: #fff;
    background: linear-gradient(135deg, #007bff, #0000ff);
    padding: 15px 30px;
    border-radius: 25px;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    display: inline-block;
    box-shadow: 0 4px 10px rgba(0, 0, 255, 0.3);
    transition: all 0.3s ease-in-out;
    border: 2px solid rgba(255, 255, 255, 0.5);
  }

  .input-price-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
  }
}
